streamlit==1.30.0
altair
blinker
cachetools
click
gitpython
importlib-metadata
packaging
protobuf
pydeck
python-dateutil
requests
rich
tenacity
toml
tornado
tzlocal
validators
watchdog